@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

.todoApp h1 {
  font-size: 3rem;
  text-align: center;
  color: #f9f9f9;
  text-shadow: 0 2px #ecdddd;
}
.todoApp h3 {
  font-size: 2rem;
  text-align: left;
  color: #f9f9f9;
  text-shadow: 0 2px #ecdddd;
}

.todoApp {
  background: rgba(245, 200, 86, 0.95);
  color: #191919bf;
  font-weight: 500;

  /* max-width: 400px; */
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
  width: 400px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}
.todoApp-tools {
  height: 50px;
}

.todoApp-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.todoList {
  height: 400px;
  overflow-y: scroll;
  height: 300px;
  display: flex;
  flex-direction: column;
}
.todoList::-webkit-scrollbar {
  display: none;
}
.todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* background: rgba(213, 213, 219, 0.1); */
  border-bottom: 1px solid #191919;
  padding: 0rem 1rem;
  cursor: pointer;
}
.todo:not(.completed) {
  order: 2;
  animation: undone 0.5s;
}
.todo.completed {
  order: 3;
  animation: done 0.5s;
}
/* .todo + .todo {
  margin-top: 0.5rem;
} */
.todo-space {
  width: 20px;
  height: 100%;
  border-right: 1px solid brown;
}
.todo-item {
  flex: 1;
  padding: 0.5rem 1rem;
}
.completed {
  text-decoration: line-through;
  opacity: 30%;
}
.todoApp form input {
  border: none;
  outline: none;
  background: rgba(213, 213, 219, 0.1);
  /* color: var(--clr-light); */
  width: 100%;
  padding: 1rem;
  border-top: 0.1px solid rgb(241, 213, 213);
  font-size: 16px;
  letter-spacing: 0.075rem;
  margin-top: 1rem;
}
.done {
  order: 3;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

@keyframes done {
  0% {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4);
  }
}

@keyframes undone {
  0% {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4);
  }
}
